.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
    /* width: 800px; */
    /* height: 480px; */
}

.flex-container li {
    background: rgb(253, 253, 252);
    padding: 5px;
    width: 47%;
    height: 200px;
    margin-top: 10px;
    line-height: 150px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(9, 10, 9)
}

body {
    background-color: black;
}

.top-container{
    background-color: rgb(0, 0, 0);
}

.top-container a {
    color:rgb(251, 250, 247);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}